<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In!</title>
</head>
<body>
    <h1>Welcome Back!</h1>
  <form action="/auth/sign-in" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Sign in</button>
  </form>
</body>
<footer>
  <div id="footer-left">
      <p><a href="https://github.com/rahnajacob">An actual link to my Github!</a></p>
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">About Us</a></p>
  </div>
  <div id="footer-disclaimer">
      <p>Disclaimer: This website does not contain verfied information about the edibility of mushrooms - please do
          not use it as a guide!</p>
  </div>
</footer>
</html>