<div class="navSideWrapper">
<nav id="navSide">
    <p id="navSideHeader">Navigation</p>
    <p><a href="/">Back to Home</a></p>
    <p><a href="/mushrooms">Mushroom Index</a></p>
    <p><a href="/mushrooms/new">Add new mushroom</a></p>
    <p><a href="/references">References</a></p>
</nav>
</div>