<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushrooms List</title>
</head>
<body>
    <h2>shrooms list</h2>
    <ul>
        <% mushrooms.forEach((mushroom) => { %>
        <li>
          <a href="/mushrooms/<%=mushroom._id%>">
            <%= mushroom.sciName %>, (<%= mushroom.comName %>)
          </a>
        </li>
        <% }) %>
      </ul>
</body>
</html>