<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Much Ado About Mushrooms</title>
</head>

<body>
    <%- include('./partials/_navbar.ejs') %>
        <%- include('./partials/_sidebar.ejs') %>
            <h1>Much Ado About Mushrooms</h1>
            <h3>A website that has information on a few of these little dudes!</h3>
            <div id="mushDisplay">
                <!-- mushToDisplay = mushroom[Math.floor(Math.random() * mushroom.length)]
                < mushroom.sciName%>
                    </h2>
                    <h4>Common name: <=mushroom.comName%>
                    </h4>
                    <img class="mushroom-show" src="<=mushroom.image%>" alt="An image of <=mushroom.comName%>" />
                    <p>Description: <=mushroom.description%>
                    </p> -->
                    <button type="button"><a href="/mushrooms">View index</a></button>
            </div>
</body>

<footer>
    <div id="footer-left">
        <p><a href="https://github.com/rahnajacob">An actual link to my Github!</a></p>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">About Us</a></p>
    </div>
    <div id="footer-disclaimer">
        <p>Disclaimer: This website does not contain verfied information about the edibility of mushrooms - please do
            not use it as a guide!</p>
    </div>
</footer>

</html>