@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    background-color: rgb(247, 234, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding-right: 3vw;
}

#footer-left a {
    text-decoration: none;
    color: white;
}

#footer-disclaimer {
    font-size: 1.8em;
    text-align: center;
}

/* Below: landing page (index.ejs) */

.MushMedAndRecWrapper {
    flex-basis: 15vw;
}

.mainDivWrapper {
    display: flex;
    gap: 50px;
    flex-grow: 1;
}

#pageHead {
    font-family: "Permanent Marker", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 0px 0px 10px 0px;
    line-height: 0.9;
}

#pageSubhead {
    font-family: "Permanent Marker", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#topNav {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
}

#navTop {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    font-size: 1.3em;
}

#navSide {
    height: 45vh;
    width: 30vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5%;
    margin-left: 3vh;
    background-color: rgba (255, 255, 255, 0.5);
}

#navSide a {
    margin: 0px 4px 0px 4px;
    padding: 12px;
    text-decoration: none;
    display: flex;
    background-color: aqua;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    font-size: 1.4em;
    text-align: center;
}

#navSideHeader {
    text-align: center;
    font-size: 2em;
}

.subMainDivWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 0 1rem 1rem 0;
}

#mushLandingDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    min-height: 60vh;
}

#mushDispImg {
    height: auto;
    max-width: 30%;
}

/* Below: Mushrooms (index.ejs) */

#mushMainIdx {
    display: flex;
    flex-wrap: wrap;
}

