@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    background-color: rgb(247, 234, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding-right: 3vw;
}

#footer-left a {
    text-decoration: none;
    color: white;
}

#footer-disclaimer {
    font-size: 1.8em;
    text-align: center;
}

.navSideWrapper {
    display: flex;
    align-items: center;
}

.mainDivWrapper {
    display: flex;
    gap: 50px;
    flex-grow: 1;
}

/* Below: landing page (index.ejs) */

#pageHead {
    font-family: "Permanent Marker", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 3.2em;
    margin-bottom: 10px;
    line-height: 0.9;
    margin-top: -4vh;
}

.MushMedAndRecWrapper {
    flex-basis: 30vw;
}

#pageSubhead {
    font-family: "Permanent Marker", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#topNav {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
}

#navTop {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 1vw;
    font-size: 1.3em;
}

#navTop a{
    margin-top: 2vh;
    text-decoration: none;
}

#navSide {
    height: 45vh;
    width: 30vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5%;
    margin-left: 3vh;
    background-color: rgba (255, 255, 255, 0.5);
}

#navSide a {
    margin: 0px 4px 0px 4px;
    padding: 12px;
    text-decoration: none;
    display: flex;
    background-color: aqua;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    font-size: 1.4em;
    text-align: center;
}

#navSideHeader {
    text-align: center;
    font-size: 2em;
}

.subMainDivWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 0 1rem 1rem 0;
}

#mushLandingDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    min-height: 50vh;
    max-height: 65vh;
    min-width: 60vw;
}

.mushLandDispContOne{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    min-width: 100%;
}

#mushDispSciName{
    margin: 0 auto;
    max-height: 5vh;
}


#mushDispImg {
    width: auto;
    max-height: 38vh;
    margin-left: 1vw;
}

.mushLandDispContTwo {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#mushDispDesc {
    max-width: 35%;
}

#mushDispIdxBtn {
    max-height: 6vh;
    margin: 2vh auto;
    padding: 0 3vw;
}


/* Below: Mushrooms (index.ejs) */

.mushMainIdx {
    columns: 3;
    line-height: 3vh;
}

.mushMainIdxList {
    margin: 0px;
}

/* Below: Mushroom (show.ejs) */

.mushShowPage {
    display:flex;
    max-width: 65%;
    gap: 10px;
}

.mushroom-show {
    height: 50vh;
    width: auto;
}

.mushShowDescEdBtns, #mushShowDescEd {
    display:flex;
    flex-direction: column;
    justify-content: start;
    gap: 5vh;
}

#mushDesc {
    min-width: 30vw;
}

.mushOwnerBtns {
    display: flex;
    margin-top: 2vh;
    justify-content: start;
    margin-left: 20%;
    gap: 3vw;
}

.mushOwnerBtns a{
    text-decoration: none;
}

/* Below: Mushroom (new.ejs add form, edit.ejs edit form) */

.mushAddForm, .mushEditForm {
    display: flex;
    flex-direction:column;
    gap: 4vh;
    min-width: 30vw;
    margin-top: 10vh;
    margin-left: -4vw;
}

.mushAddWrp1, .mushEditWrp1 {
    display: flex;
    justify-content: space-around;
}

.mushAddWrp2, .mushEditWrp2 {
    display: flex;
    justify-content: space-around;
}

.mushAddWrp3, .mushEditWrp3 {
    display: flex;
    justify-content: space-around;
}

.mushAddWrp4, .mushEditWrp4 {
    display: flex;
    justify-content: space-around;
}

.mushAddWrp5, .mushEditWrp5 {
    display: flex;
    justify-content: space-around;
}

.mushFormBtn {
    margin: 0 auto;
    padding: 3%;
}